{% extends 'base.html.twig' %}

{% block title %}Profil{% endblock %}

{% block body %}

{% include 'profile/edit.html.twig' %}
    
<div class="container">
	<div class="d-flex justify-content-center p-4 mt-4" >
		<form>
			<ul class="list-unstyled">
				<li>
					<h1 class="h3 mb-3 font-weight-normal">Mon profil :</h1>
				</li>
            	<li>
					<strong>Nom:</strong>
					{{app.user.Nom}}
            	</li><br>
				<li>
					<strong>Prénom:</strong>
					{{app.user.Nom}}
            	</li>
				<li><br>
                	<strong>Date de naissance:</strong>
                	{{ app.user.getDateNaissance()|date('d/m/Y') }}
            	</li>
				<li><br>
					<strong>Adresse:</strong>
					{{app.user.Adresse}}
				</li>
				<li><br>
					<strong>Email:</strong>
					{{app.user.email }}
				</li>
			</ul>
			<div class="d-flex justify-content-center">
        		<button type="button" class="btn btn-success" data-toggle="modal" data-target="#editProfileModal">
  					{{ 'Modifier mon Profil'|trans }}
				</button>
    		</div>
		</form>	
	</div>
</div>
<div class="container">
	<div class="d-flex justify-content-center p-4 mt-4" >
		<form>
			<ul class="list-unstyled">
				<li>
					<h1 class="h3 mb-3 font-weight-normal">Mes Annonces :</h1>
				</li>
			</ul>
			{% if annonces is empty %}
        	<h1>Aucune annonce à afficher.</h1>
    		{% else %}
			<ul class="list-unstyled">
        		{% for annonce in annonces %}
            	<li>
                	<div class="card" style="width:300px; margin:8px; text-align: center">
                    	<a href="{{path('app_annonce', {id:annonce.id}) }}" style="text-decoration: none; color:black">
                        	<h2 class="card-title">{{ annonce.titre }}</h2>
                        	<p class="card-text">{{ annonce.description }}</p>
                        	<p class="card-text"><strong>Date de publication:</strong> {{ annonce.DatePublication | date('Y-m-d')}}</p>
                        	<p class="card-text"><strong>Dernière Modification:</strong> {{ annonce.DateModification | date('Y-m-d')}}</p>
                    	</a>
                	</div>
            	</li>
        		{% endfor %}
        	</ul>
    		{% endif %}
			<div class="d-flex justify-content-center">
        		<a class="btn btn-success" href="{{path('app_annonce_create')}}">Ajouter une annonce</a>
    		</div>
		</form>	
	</div>
</div>

{% endblock %}