{% extends 'base.html.twig' %}

{% block title %}Profil{% endblock %}

{% block body %}

{% include 'profile/edit.html.twig' %}
    
<div class="container">
    <!-- Section du profil de l'utilisateur -->
	<div class="d-flex justify-content-center p-4 mt-4" >
		<form>
			<ul class="list-unstyled">
				<li>
					<h1 class="h3 mb-3 font-weight-normal">Mon profil :</h1>
				</li>
            	<li>
					<strong>Nom:</strong>
					{{app.user.Nom}}
            	</li><br>
				<li>
					<strong>Prénom:</strong>
					{{app.user.Nom}}
            	</li>
				<li><br>
                	<strong>N° de téléphone:</strong>
                	{{ app.user.getTelephone() }}
            	</li>
				<li><br>
					<strong>Adresse:</strong>
					{{app.user.Adresse}}
				</li>
				<li><br>
					<strong>Email:</strong>
					{{app.user.email }}
				</li>
			</ul>
            <!-- Bouton pour modifier le profil -->
			<div class="d-flex justify-content-center">
        		<button type="button" class="btn btn-success" data-toggle="modal" data-target="#editProfileModal">
  					{{ 'Modifier mon Profil'|trans }}
				</button>
    		</div>
		</form>	
	</div>
</div>

<div class="container">
    <!-- Section des annonces -->
	<div class="d-flex justify-content-center p-4 mt-4" >
		<form>
			<h1 class="h3 mb-3 font-weight-normal">Mes Annonces :</h1>
			{% if annonces is empty %}
        	<p>Aucune annonce à afficher.</p>
    		{% else %}
			<ul class="list-unstyled">
        		{% for annonce in annonces %} 
					<div class="card" style="width:300px; margin:8px;">
						<a href="{{path('app_read_annonce', {id:annonce.id}) }}" style="text-decoration: none; color:black; margin-top: 20px;">
							{% if annonce.images %}
								{# Couper les images #}
								{# <div style="height:200px; overflow-y:hidden">
									<img class="card-img-top" src="{{ asset('uploads/images/' ~ annonce.images[0].url) }}" alt="Card image">
								</div> #}
								{# Ne pas couper les images (cela les déformes) #}
								<div class="d-flex justify-content-center">
									<img class="card-img-top" src="{{ asset('uploads/images/' ~ annonce.images[0].url) }}" alt="Card image" style="height:200px; width:200px;">
								</div> 
								
							{% endif %}    
							<div class="card-body d-flex flex-column">
								<h4 class="card-title d-flex justify-content-center">{{ annonce.Titre }}</h4>
								<p class="card-text">{{ annonce.Description }}</p>
								<div class="mt-auto">
									<p class="card-text"><strong>Date de publication :</strong> {{ annonce.DatePublication | date('Y-m-d')}}</small></p>
									<p class="card-text"><strong>Dernière modification :</strong> {{ annonce.DateModification | date('Y-m-d')}}</small></p>
								</div>
							</div>
						</a>
					</div>
				{% endfor %} 
        	</ul>
    		{% endif %}
            <!-- Bouton pour ajouter une annonce -->
			<div class="d-flex justify-content-center">
        		<a class="btn btn-success" href="{{path('app_annonce_create')}}">Ajouter une annonce</a>
    		</div>
		</form>	
	</div>
</div>


{% endblock %}