{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
    <div class="container">
        <div class="d-flex justify-content-center p-5 mt-5  align-item-center mx-auto ">
            <form method="post" class="col-4 ">
                {% if error %}
                    <div class="alert alert-danger">Adresse mail et/ou mot de passe incorrect</div>
                    {# <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div> #}
                {% endif %}

                {% if app.request.query.get('redirected') %}
                    <div class="alert alert-warning" role="alert">
                        Vous devez vous connecter pour accéder à cette page.
                    </div>
                {% endif %}

                {% if app.user %}
                    <div class="alert alert-danger">
                        Vous êtes connecter en tant que {{ app.user.userIdentifier }} <br> <a href="{{ path('app_logout') }}">Se déconnecter</a>
                    </div>
                {% endif %}

                <h1 class="h3 mb-3 font-weight-normal">Connexion</h1>
                <label for="inputEmail">Email</label>
                <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
                <label for="inputPassword">Password</label>
                <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
    
                <ul class="list-unstyled">
                    <li>
                        <a href="{{ path('app_forgot_password_request')}}">Mot de passe oublié</a>
                    </li>
                </ul>
                <div class="d-flex justify-content-end">
                    <button class="btn btn-success" type="submit">Se connecter</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
