{% extends 'base.html.twig' %}

{% block title %}Annonce{% endblock %}

{% block body %}
<div class="container">
    <div class="d-flex justify-content-center p-4 mt-4">
        {{ form_start(form, {'attr': {'class': 'col-5'}} ) }}
            <h1 class="h3 mb-3 font-weight-normal">Créer une annonce :</h1>
            {{ form_row(form.titre) }}
            {{ form_row(form.description) }}
           
           <h3 class="h3 mb-3 font-weight-normal">Animal :</h3>
            {{ form_row(form.animal.nom) }}
            {{ form_row(form.animal.sexe) }}
            {{ form_row(form.animal.Date_Naissance) }}
            {{ form_row(form.animal.couleur) }}
            {{ form_row(form.animal.poil) }}
            {{ form_row(form.animal.vermifugation) }}
            {{ form_row(form.animal.vaccin) }}
            {{ form_row(form.animal.puce_tatouage) }}

            <h3 class="h3 mb-3 font-weight-normal">Images :</h3>
            {{ form_row(form.images) }}

            <div class="d-flex justify-content-end">
                <button class="btn btn-success" type="submit">Créer une annonce</button>
            </div>
        {{ form_end(form) }}
    </div>
</div>
{% endblock %}