<div class="modal fade" id="editAnnonceModal" tabindex="-1" role="dialog" aria-labelledby="editAnnonceModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="editAnnonceModalLabel">Modifier l'anonce</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				{{ form_start(form) }}
				{{ form_row(form.titre) }}
            	{{ form_row(form.description) }}
				{{ form_row(form.images) }}
            	<h2>Supprimer des images :</h2>
					{% for image in annonce.images %}
						<div>
							<img class="card-img-top" src="{{ asset('uploads/images/' ~ image.url) }}" alt="Card image" style="width: 100px"><br>

							{# On ajoute un lien permettant de supprimer une image (sera géré en Ajax) #}
							<a href="{{ path('app_annonce_delete_image', {id: image.id})}}" data-delete data-token="{{ csrf_token('delete' ~ image.id )}}">Supprimer</a>
						</div>
					{% endfor %}
                    <div class="d-flex justify-content-end">
                        <button type="button" class="btn btn-danger mx-1" data-dismiss="modal">Fermer</button>
                        <button type="submit" class="btn btn-success">Enregistrer les modifications</button>
                    </div>
				{{ form_end(form)}}
			</div>
		</div>
	</div>
</div>
{% block javascripts %}
    <script src="{{ asset('js/images.js') }}"></script>
{% endblock %}