{% extends 'base.html.twig' %}

{% block title %}Annonce {{annonce.Titre}}{% endblock %}

{% block body %}

{% include 'annonce/edit.html.twig' %}

<div class="row" style= "text-align: center">
    <h1>Annonce {{annonce.Titre}} :</h1>
    <div>
        <div class="card-body">
            <p class="card-text">{{annonce.Description}}</p>
        </div>
    </div>
    <div>
        {% for image in annonce.images %}
            <img class="card-img-top" src="{{ asset('uploads/images/' ~ image.url) }}" alt="Card image" style="width: 250px">
        {% endfor %}
    </div>
</div>
<div class="row">
    <h2>Animal {{annonce.animal.nom}} :</h2>
    <div class="card-body">
        <p class="card-text">Sexe : {{annonce.animal.sexe ? "Femelle" : "Mâle"}}</p>
        <p class="card-text">Espèce : {{annonce.animal.espece.nom}}</p>
        <p class="card-text">Race : {{annonce.animal.race.nom}}</p>
        <p class="card-text">Régime Alimentaire : {{annonce.animal.regime.nom}}</p>

        {% if annonce.animal.alimentation|length > 0 %}
            <p class="card-text">Alimentation(s) :</p>
            <ul>
                {% for alimentation in annonce.animal.alimentation %}
                    <li>{{ alimentation.nom }}</li>
                {% endfor %}
            </ul>
        {% else %}
            <p class="card-text">Aucune alimentation renseignée pour cet animal</p>
        {% endif %}

        <p class="card-text">Date de Naissance : {{ annonce.animal.DateNaissance | date('d/m/Y') }}</p>
        <p class="card-text">Couleur : {{annonce.animal.couleur.nom}}</p>
        <p class="card-text">Poil : {{annonce.animal.poil.type}}</p>
        <p class="card-text">Vermifugation à jour : {{annonce.animal.vermifugation ? "Oui" : "Non"}}</p>
        <p class="card-text">Vaccin à jour :    {{annonce.animal.vaccin ? "Oui" : "Non"}}</p>
        <p class="card-text">N° puce / tatouage :   {{annonce.animal.pucetatouage}}</p>
    </div> 
</div>
<div>
    {% if app.user and app.user.id == annonce.user.id %}
        <div class="d-flex justify-content-end">				
            <button type="button" class="btn btn-success mx-1" data-toggle="modal" data-target="#editAnnonceModal">
                {{ 'Modifier'|trans }}
            </button>
            <form action="{{ path('app_annonce_delete', {'id': annonce.id}) }}" method="post" onsubmit="return confirm('Voulez-vous vraiment supprimer cette annonce ?')">
                <button type="submit" class="btn btn-danger">Supprimer</button>
            </form>
        </div>
    {% endif %}
</div>
{% endblock %}