{% extends 'base.html.twig' %}

{% block title %}Annonce {{annonce.Titre}}{% endblock %}

{% block body %}

{% include 'annonce/edit.html.twig' %}

<div class="row" style= "text-align: center">
    <h1>Annonce {{annonce.Titre}} :</h1>
    <div>
        <h4 class="card-title">{{annonce.Titre}}</h4>
        <p class="card-text">{{annonce.Description}}</p>
    </div>
</div>
<div class="d-flex justify-content-end">				
    <button type="button" class="btn btn-success mx-1" data-toggle="modal" data-target="#editAnnonceModal">
  		{{ 'Modifier'|trans }}
	</button>
    <form action="{{ path('app_annonce_delete', {'id': annonce.id}) }}" method="post" onsubmit="return confirm('Voulez-vous vraiment supprimer cette annonce ?')">
    	<input type="hidden" name="_method" value="DELETE">
    	<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ annonce.id) }}">
    	<button type="submit" class="btn btn-danger">Supprimer</button>
    </form>
</div>

{% endblock %}