{% extends 'base.html.twig' %}

{% block title %}Annonces{% endblock %}

{% block body %}
    <div class="container">
        <div class="row" style= "text-align: center">
            <div class="col-md-3">
                {{form_start(form, {attr: {class: 'filter'}})}}
                    <h4>Titre :</h4>
                    {{form_row(form.q)}}
                    <h4>Sexe :</h4>
                    {{form_row(form.sexes)}}
                    <h4>Vaccin :</h4>
                    {{form_row(form.vaccins)}}
                     <h4>Vermifugation :</h4>
                    {{form_row(form.vermifugations)}}
                    <h4>Espece :</h4>
                    {{form_row(form.especes)}}
                    <h4>Race :</h4>
                    {{form_row(form.races)}}
                    <h4>Type de poil :</h4>
                    {{form_row(form.poils)}}
                    <h4>Couleur :</h4>
                    {{form_row(form.couleurs)}}
                    <h4>Regime :</h4>
                    {{form_row(form.regimes)}}
                    <button type="submit" class="btn btn-success w-100">Filtrer</button>
                {{form_end(form)}}
            </div>
            <div class="col-md-9">
                <h1>Annonces :</h1>
                
                {% if annonces is empty %}
                    <h1>Aucune annonce à afficher.</h1>
                {% else %}
                    {% for annonce in annonces %} 
                        <div class="card" style="width:300px; margin:8px; text-align: center"> {# ou grid #}
                            <a href="{{path('app_read_annonce', {id:annonce.id}) }}" style="text-decoration: none; color:black">
                                <h2 class="card-title">{{ annonce.Titre }}</h2>

                                {% if annonce.images %}
                                    {# Couper les images #}
                                    {# <div style="height:200px; overflow-y:hidden">
                                        <img class="card-img-top" src="{{ asset('uploads/images/' ~ annonce.images[0].url) }}" alt="Card image">
                                    </div> #}
                                    {# Ne pas couper les images (cela les déformes) #}
                                    <div>
                                        <img class="card-img-top" src="{{ asset('uploads/images/' ~ annonce.images[0].url) }}" alt="Card image" style="height:200px; width:200px;">
                                    </div> 
                                   
                                {% endif %}

                                <p class="card-text">{{ annonce.Description }}</p>
                                <p class="card-text"><strong>Date de publication:</strong> {{ annonce.DatePublication | date('Y-m-d')}}</p>
                                <p class="card-text"><strong>Dernière Modification:</strong> {{ annonce.DateModification | date('Y-m-d')}}</p>
                            </a>
                        </div>
                    {% endfor %} 
                {% endif %} 
            </div>
        </div>  
    </div> 
{% endblock %}

