{% extends 'base.html.twig' %}

{% block title %}Fiches Conseils{% endblock %}

{% block body %}

<h1>Fiches Conseils :</h1><br>

<h3 style="text-align: center;"><u>Voici toutes nos fiches conseils :</u></h4>
<div class="d-flex justify-content-center align-items-center">
    <img src="{{ asset('conseils.png') }}" style="width: 30%" alt="Image">
</div>
<div class="row justify-content-center">
    <div class="col-md-4 my-4">
        <div class="card">
            <ul class="no-style d-flex flex-column justify-content-center align-items-center">
                <li><h4><u>❖ Alimentation :</u></h4></li><br>
                <li><a class="href" href="{{ path('app_advices_fiches', { 'category': 'eat', 'animal': 'dog' }) }}">✲ Chien</a></li>
                <li><a class="href" href="{{ path('app_advices_fiches', { 'category': 'eat', 'animal': 'cat' }) }}">✲ Chat</a></li>
                <li><a class="href" href="{{ path('app_advices_fiches', { 'category': 'eat', 'animal': 'horse' }) }}">✲ Cheval</a></li>
                <li><a class="href" href="{{ path('app_advices_fiches', { 'category': 'eat', 'animal': 'rodents' }) }}">✲ Rongeurs</a></li>
                <li><a class="href" href="{{ path('app_advices_fiches', { 'category': 'eat', 'animal': 'reptiles' }) }}">✲ Reptiles</a></li>
            </ul>
        </div>
    </div>
    <div class="col-md-4 my-4">
        <div class="card">
            <ul class="no-style d-flex flex-column justify-content-center align-items-center">
                <li><h4><u>❖ Reproduction :</u></h4></li><br>
                <li><a class="href" href="{{ path('app_advices_fiches', { 'category': 'breeding', 'animal': 'dog' }) }}">✲ Chien</a></li>
                <li><a class="href" href="{{ path('app_advices_fiches', { 'category': 'breeding', 'animal': 'cat' }) }}">✲ Chat</a></li>
                <li><a class="href" href="{{ path('app_advices_fiches', { 'category': 'breeding', 'animal': 'horse' }) }}">✲ Cheval</a></li>
                <li><a class="href" href="{{ path('app_advices_fiches', { 'category': 'breeding', 'animal': 'rodents' }) }}">✲ Rongeurs</a></li>
                <li><a class="href" href="{{ path('app_advices_fiches', { 'category': 'breeding', 'animal': 'reptiles' }) }}">✲ Reptiles</a></li>
            </ul>
        </div>
    </div>
    <div class="col-md-4 my-4">
        <div class="card">
            <ul class="no-style d-flex flex-column justify-content-center align-items-center">
                <li><h4><u>❖ Soins :</u></h4></li><br>
                <li><a class="href" href="{{ path('app_advices_fiches', { 'category': 'care', 'animal': 'dog' }) }}">✲ Chien</a></li>
                <li><a class="href" href="{{ path('app_advices_fiches', { 'category': 'care', 'animal': 'cat' }) }}">✲ Chat</a></li>
                <li><a class="href" href="{{ path('app_advices_fiches', { 'category': 'care', 'animal': 'horse' }) }}">✲ Cheval</a></li>
                <li><a class="href" href="{{ path('app_advices_fiches', { 'category': 'care', 'animal': 'rodents' }) }}">✲ Rongeurs</a></li>
                <li><a class="href" href="{{ path('app_advices_fiches', { 'category': 'care', 'animal': 'reptiles' }) }}">✲ Reptiles</a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}
